@model MovieForum2.Models.Discussion

@{
    ViewData["Title"] = "GetDiscussion";
}

<h1>@Model.Title</h1>
<p>@Model.Content</p>
<p>Discussion Created on: @Model.CreateDate</p>

<a asp-controller="Comments" asp-action="Create" asp-route-DiscussionId="@Model.DiscussionId">Add Comment</a>

<h2>Comment Section</h2>

@if (Model.Comments != null && Model.Comments.Any())
{
    <h2>@Model.Title</h2>
    <p>@Model.Content</p>
    <p>Created on: @Model.CreateDate</p>

    <h3>Comments:</h3>
    @foreach (var comment in Model.Comments)
    {
        <div>
            <p>@comment.Content</p>
            <p>Posted on: @comment.CreateDate</p>
        </div>
    }

    <a href="@Url.Action("Create", "Comments", new { discussionId = Model.DiscussionId })">Post a new comment</a>
}
else
{
    <p>It's quiet... Too quiet...<br />No comments have been made yet.<br />Be the start of the discussion and leave a comment!</p>
}
