@model List<MovieForum2.Models.Discussion>

@{
    ViewData["Title"] = "Home Page";
}

<h1>All Discussions</h1>

<div class="mb-4">
    Discuss your favourite movies of your favourite genres.<br/>
</div>

<div class="masonry-grid">
    @foreach (var item in Model)
    {
        string imageUrl = Url.Content("/images/" + item.ImageFilename);
        string uniqueId = "image-" + item.DiscussionId;

            <div class="masonry-grid-item">
                <a href="@Url.Action("DiscussionImage", "Home", new { id = item.DiscussionId})">
                    <div class="container" 
                        onmouseenter="showOverlay('@uniqueId')" 
                        onmouseleave="hideOverlay('@uniqueId')">

                        <img id="@uniqueId" src="@imageUrl" class="img-fluid" alt="@item.Content"/>
                        <div class="overlay">
                            <div class="text">@item.Title</div>
                        </div>
                    </div>
                </a>
                    <body style=@("text-align: center")>Number of comments:<br/>@(item.Comments != null ? item.Comments.Count : 0)<br/>Discussion created:<br/>@item.CreateDate</body>
            </div>
    }
</div>

@{
    /* Function ensures when hovering over an img only that image's overlay shows */
}
<script>
    function showOverlay(id) {
        document.querySelectorAll('.overlay').forEach(overlay => overlay.classList.remove('active'));
        document.getElementById(id).nextElementSibling.classList.add('active');
    }

    function hideOverlay(id) {
        document.getElementById(id).nextElementSibling.classList.remove('active');
    }
</script>
