@model IEnumerable<MovieForum2.Models.Discussion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.ImageFile)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Content)
            </th>
            <th>
                <label>Options</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var discussion in Model) {

    string imageUrl = Url.Content("/images/" + discussion.ImageFilename);

    <tr>
        <td>
            @Html.DisplayFor(modelItem => discussion.Title)
        </td>
        <td>
            <img src="@imageUrl" class="image-fluid thumbnail" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => discussion.Content)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@discussion.DiscussionId">Edit</a> |
            <a asp-action="Details" asp-route-id="@discussion.DiscussionId">Details</a> |
            <a asp-action="Delete" asp-route-id="@discussion.DiscussionId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
